<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Home Page</title>

</head>
<body>
<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Taj Restaurant</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto"></ul>
			<ul class="navbar-nav">
				<li class="nav-item ">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item ">
					<a class="nav-link"
					   th:href="@{/cart/viewCart}">Cart</a>
				</li>
				<li sec:authorize="isAuthenticated()" class="nav-item ">
					<a  class="nav-link" th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<div class="container">
		<div class="row">
			<div class="col">
				<p>Username:  <span sec:authentication="name">Username</span> </p>
			</div>
			<div class="col">
				<p>Roles: <span sec:authentication="principal.authorities">Roles</span></p>
			</div>
		</div>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">Taj Restaurant Menu</h1>
				<p class="lead">food which tastes like heaven</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>
